APP_NAME=Card Leak Checker
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/card-leak-checker/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=card_leak_checker
DB_USER=root
DB_PASS=

SESSION_NAME=cardleak_session
CSRF_SECRET=troque_esta_chave
APP_KEY=troque_esta_chave

MAIL_MODE=log
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASS=
MAIL_FROM=no-reply@cardleak.local

TOTP_ISSUER=CardLeakChecker